logs/
logs/*
temp/
temp/**/*
work/**/*

bin/derby.log

data/

*.swp
*~
**/*.orig
**/*~
**/*.bak
webappDefault/**
webapps88/*/**
webapps88b/**
webapps89/**
SolrDataDir/**
lib/derbyLocale_??*.jar
webapps89_res*/**
SolrTempDir/index/**
SolrTempDir/spellchecker/**
RTS.Build_sp19075/**
bin/DCSearchIndex/**