logs/
logs/*
temp/
temp/**/*
work/**/*

bin/derby.log

data/

*.swps
*~
**/*.orig
**/*~
**/*.bak
webappDefault/**
webapps88/*/**
webapps88b/**
tempdecisioncenter-solr-dir/**
webappDefault/**
webapps88/*/**
